@media screen and (max-width: 991px) {
  .contact_form_flex {
    padding: 50px 10px;
  }
}

/* FORM */
.form {
  padding: 70px 0;
}
.form_title {
  margin-bottom: 50px;
  font-size: 50px;
  color: #fff;
}
.form_inner {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.form_form {
  flex-basis: 49%;
}
.form_checkbox {
  padding-top: 16px;
  border-top: 2px solid #00EB78;
  display: flex;
  gap: 10px;
  
  font-size: 13px;
  color: #fff;
}

.contact_form {
  gap: 10px;
  justify-content: flex-start;
  flex-direction: column;
  background: transparent;
  align-items: flex-start;
  min-height: auto;
}

.form_info {
  flex-basis: 40%;
}
.form_info-headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}
.form_info-headline h3 {
  font-size: 25px;
  color: #858585;
}
.form_info-headline h3:first-child {
  color: #FF5F31;
}
.form_contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact_form h2 {
  color: #FF5F31;
  font-size: 25px;
  margin-bottom: 24px;
}

.contact_form_flex {
  gap: 16px;
  padding: 0;
}

.contact_form_flex > input,
.contact_form textarea {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  color: #fff;
  
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #858585;
  border: 1px solid #858585;
}
.contact_form textarea {
  border-radius: 8px;
  height: 120px;
  resize: none;
}
.contact_form_flex input::placeholder,
.contact_form textarea::placeholder {
  font-weight: light;
  color: rgba(255, 255, 255, .5);
}

.contact_form_flex input:focus,
.contact_form textarea:focus {
  border: 1px solid #fff;
}

.contact_form_flex button {
  padding: 16px 60px;
  width: fit-content;
  border-radius: 7px;
  background: #FF5F31;
  color: #fff;
  font-size: 18px;  
}

@media(max-width: 992px) {
  .form_inner {
    flex-wrap: wrap;
    gap: 50px;
  }

  .form_form, .form_info {
    flex-basis: 100%;
  }

  .form_title {
    font-size: 32px;
  }
}

.contact_page_about_phone {
  gap: 16px;
}

.contact_page_about_phone h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}
