.main {
  padding: 20px 80px;
}

.main_left {
  gap: 35px;
}

.main_left h1 {
  font-size: 50px;
  font-weight: 300;
}

.main_left h1 span {
  color: #FF5F31;
}

.main_left h3 {
  font-weight: 300;
}

.main_left a {
  padding: 15px 28px;
  width: fit-content;
}

@media(max-width: 992px) {
  .main {
    padding: 20px 40px;
  }
  .main_left {
    gap: 20px;
  }

  .main h1 {
    font-size: 40px;
  }
  .main h3 {
    font-size: 18px;
  }
}
@media(max-width: 768px) {
  .main {
    padding: 20px;
  }
  .main h1 {
    font-size: 30px;
  }
}



