.navbar_top {
  height: 67px;
  background: #545454;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: flex-start;
}

.navbar_container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 0 48px;
}

.navbar_down .navbar_container {
  justify-content: flex-start;
  gap: 32px;
}

.navbar_down {
  height: 67px;
  padding-top: 0;
  padding-bottom: 0;
  gap: 0;
}


.navbar_phone {
  height: 67px;
}

.navbar_down button.navbar_cart {
  padding: 10px;
}

.navbar_cart:hover {
  background-color: #c3401b;
}

.navbar_top_menu > a {
  color: #fff;
  font-weight: 700;
}


.navbar_top_menu_li a {
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
}

.navbar_down_inp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 80%;
}

@media(max-width: 992px) {
  .navbar_down_inp {
    flex-basis: none;
  }

  .navbar_phone_menu i {
    background: #FF5F31;
  }

  .navbar_down input {
    background: #858585;
    color: #fff;
    padding: 10px;
  }
}

.navbar_down a {
  padding: 10px 50px;
  font-size: 18px;
}


.navbar_down input {
  font-family: "Sansation";
  background: #858585;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 30px;
  flex-basis: 100%;
}

.navbar_down input::placeholder {
  color: #fff;
  font-weight: 300;
}

.swiper-slide {
  background-color: #212529;
  filter: blur(5px);
}

.navbar_phone_right_menu {
  background-color: #212529;
}

.swiper-slide.swiper-slide-active {
  background-color: #212529;
  filter: blur(0);
}



  
