.banner {
  padding-top: 100px;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../../public/img/banner-bg.jpg) center / cover;
}

.breadcrumbs {
  font-size: 15px;
  font-weight: 700;
}

.breadcrumbs a {
  transition: color .3s linear;
}

.breadcrumbs a:hover {
  color: #FF5F31;
}

.bannerTitle {
  font-weight: 300;
  margin-bottom: 0;
}

.bannerTitle span {
  font-weight: 700;
}

